<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>

    <form [formGroup]="form" class="full-width">
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="front-end">Front-end</mat-option>
          <mat-option value="back-end">Back-end</mat-option>
        </mat-select>
        <input matInput>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
